body {
    background: rgba(164, 163, 168, 0.616);
    color: #372a83;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #0c0c3859;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #e7e5e5b0;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #93989c;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

#foo {
    font-size-adjust: 1.2;
    
    background: rgb(121, 126, 121, 0.151);
    display: block;
    border-radius: 20px;
    height: 500px;
    width: 850px;
    display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "sans-serif";
  font-weight: bold;
}  
#foo2 {
        font-size-adjust: 1.2;
        
        background: rgba(121, 126, 121, 0.151);
        display: block;
        border-radius: 20px;
        height: 500px;
        width: 850px;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "sans-serif";
    font-weight: bold;
}  

#foo3 {
    color: white;
    font-family: "sans-serif";
}  

#foo4 {
    color: white;
    font-family: "sans-serif";
    font-size: 4.5em;
}
